body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 5px;
    width: 200px;
}

button {
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

li span {
    margin-right: 10px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://cdn.pixabay.com/photo/2021/07/06/19/26/drops-6392473_1280.jpg'); /* Replace 'background-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
}

/* Add the rest of your styles below */
h1 {
    text-align: center;
}

form {
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 5px;
    width: 200px;
}

button {
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

li span {
    margin-right: 10px;
}
